/* :: Avatar Area CSS */

.avatar-xs {
    width: 26px;
    height: 26px;
}

.avatar-sm {
    width: 32px;
    height: 32px;
}

.avatar {
    width: 38px;
    height: 38px;
}

.avatar-md {
    width: 48px;
    height: 48px;
}

.avatar-lg {
    width: 64px;
    height: 64px;
}

.avatar-xl {
    width: 72px;
    height: 72px;
}

.avatar-xxl {
    width: 100px;
    height: 100px;
}

.media-avatar {
    width: 64px;
    height: 64px;
}